# {{ ansible_managed }}
input {
#  file {
#    path => ["/etc/logstash/test-input"]
#  }

  redis {
    host => "127.0.0.1"
    type => "redis-input"
    data_type => "list"
    key => "logstash"
    codec => "json"
  }
}

filter {
  json {
    source => "message"
    remove_field => "message"
  }
  if [type] == "apache-error" {
    date {
      match => ["time", "YYYY-MM-dd HH:mm:ss.SSSSSS"]
    }
  }
}

output {
#  file {
#    path => ["/etc/logstash/test-output"]
#  }

  elasticsearch {
    host => "127.0.0.1"
    cluster => "logstash"
    node_name => "log1"
    embedded => false
  }
}


# {{ ansible_managed }}
